@model List<DBFactory.Structures.Group>
@{
    ViewBag.Title = "Group";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (var group in Model)
        { 
            @Html.ActionLink(group.Name, "ViewGroup", new {  id = group.Id}) <br />
        }
    </div>
</body>
</html>
