@{
    ViewBag.Title = "Home Page";
}
@using DBFactory


<style>
    .caption {
        width: 100%;
        bottom: .3rem;
        position: absolute;
        background: #000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .thumbnail {
        border: 0 none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .caption h4 {
        color: #fff;
        -webkit-font-smoothing: antialiased;
    }

    .caption h5{
        color: #fff;
    }

</style>

<div class="jumbotron">
    @foreach (var recipe in DB.Instance.GetRecipes(4))
    {
        <a href="Recipe/Edit/@recipe.ID">
            <div class="col-md-12 text-center">
                <div class="col-md-12 row text-center">
                    <img class="img-thumbnail" src="@recipe.FinishedMealImage.Image" width="600">
                    <div class="caption">
                        <h4>@recipe.Name</h4> <h5>@recipe.ShortDescription</h5>
                    </div>
                </div>
            </div>
        </a>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
     
</div>
