@model DBFactory.Structures.Group

@{
    ViewBag.Title = "Lag ny gruppe";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        Lag ny gruppe<br />
        @using(@Html.BeginForm("Create", "Group", FormMethod.Post))
        {
            @Html.TextBoxFor(p => p.Name)
            <input type="submit" value="Lagre"/>
        }
    </div>
    <div>
        @Html.ActionLink("Tilbake til listen", "Index")
    </div>
</body>
</html>
