@model NewTestFramework.Models.CreateRecipeViewModel

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="row col-md-12 col-xs-12">
            <h2>Ny ingrediens</h2>
        </div>
        <hr />

        @using (Html.BeginForm("Create", "Ingredient", FormMethod.Post))
        {
            <div class="form-group">
                <label class="control-label col-md-2">Navn</label>
                <div class="col-md-10">
                    @Html.AutocompleteFor(p => p.IngredientName, "Autocomplete", "Ingredient")
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Legg til" />
            </div>
        }
    </div>
</body>
</html>

@section Scripts
{
    <script type="text/javascript">
        $('*[data-autocomplete-url]').each(function () {
            $(this).autocomplete({
                source: $(this).data("autocomplete-url"),
                messages: {
                    noResults: '',
                    results: function () { }
                }
            });
      });
    </script>
}